@import url('https://fonts.googleapis.com/css?family=Pacifico|Abel');

.landingPage {
  h1,
  h2,
  h3 {
    font-family: 'Pacifico', cursive;
  }

  p {
    font-size: 18px;
    font-family: 'Abel', sans-serif;
  }
}

.imageText {
  margin: auto;
  border-radius: 5px;
  padding: 40px;
  color: white;
  height: 200px;
  width: 800px;
  background-color: #0275d8;
}

.image {
  background: url('../../assets/images/landing-page-background.jpg');
  background-position: center top;
  background-size: 100% 100%;
  height: 800px;
  padding-top: 450px;
}

.about {
  padding: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px;
  border-bottom-style: solid;
}

.leadership {
  padding-top: 40px;
  padding-bottom: 40px;
}

.textbox {
  margin-top: -60px;
  padding: 10px;
  padding-top: 60px;
  background-color: #ededed;
  border-radius: 5%;
}

.portrait {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
}

.donate {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #ededed;
}

.blogEvents {
  padding-bottom: 20px;
  color: white;
  background-color: #0275d8;
}
