$black: #1a1a1a;

.category-box {
  padding-top: 15px;
  color: white;
  height: 80px;
  background-color: $black;
}

.initiatives {
  margin-bottom: 20px;
}

.fundraisers {
  margin-bottom: 20px;
}

.scholarships {
  margin-bottom: 20px;
}

.events {
  margin-bottom: 20px;
}


.body-text {
  margin-top: 20px;
}
