.FAQ {
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0275d8;
}

.question {
  h4 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  margin-top: 50px;
}

.text-box {
  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  margin-bottom: 20px;
  border-bottom: solid black 1px;
}

