@import url('https://fonts.googleapis.com/css?family=Poppins');

.background-image {
  font-family: 'Poppins', sans-serif;
  padding-top: 25px;
  background-image: url('landing-page-background.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;
}

.text-box {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: rgba(26, 26, 26, 0.9);
}

.text-box-white {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
}

.text-top {
  font-size: 35px;
}

.text-middle {
  margin-top: 21px;
  font-size: 35px;
}

.text-bottom {
  margin-top: 21px;
  font-size: 35px;
}

.text-small {
  margin-top: 30px;
  font-size: 20px;
}

.text-small-bottom {
  margin-top: 16px;
  font-size: 20px;
}

.button-donate {
  color: white !important;
  margin-top: 10px;
  font-size: 20px;
  height: 40px;
  width: 120px;
}

@media (min-width: 768px) {
  .background-image {
    padding-top: 230px;
  }
  
  .text-top {
    font-size: 40px;
  }
  
  .text-middle {
    margin-top: 27px;
    font-size: 40px;
  }
  
  .text-bottom {
    margin-top: 27px;
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .background-image {
    padding-top: 300px;
    height: 800px;
  }
  
  .text-top {
    font-size: 50px;
  }

  .text-middle {
    margin-top: 35px;
    font-size: 50px;
  }

  
  .text-bottom {
    margin-top: 35px;
    font-size: 50px;
  }
  
  .text-small {
    margin-top: 40px;
    font-size: 30px;
  }

  .text-small-bottom {
    margin-top: 20px;
    font-size: 30px;
  }
  
  .button-donate {
    margin-top: 20px;
    font-size: 25px;
    height: 50px;
    width: 150px;
  }
}

