@import url('https://fonts.googleapis.com/css?family=Poppins');

.information-row {
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
  padding-bottom: 30px;
}

.activity {
  margin-top:40px;
}

.icon {
  margin-bottom: 20px;
  height: 150px;
}

.icon-activities {
  margin-top: 25px;
  margin-bottom: 26px;
  height: 120px;
}

.icon-get-involved {
  margin-top: 25px;
  margin-bottom: 26px;
  height: 120px;
}

.info-button {
  margin-top: 25px;
  color: black;
  border-color: black;
}

.info-button:hover {
  border-color: black;
  color: black;
}

@media (min-width: 992px) {
  .information-row {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}
