@import url('https://fonts.googleapis.com/css?family=Poppins');

.leadership {
  font-family: 'Poppins', sans-serif;
  border-top: solid 1px black;
  padding-top: 40px;
  padding-bottom: 40px;
}

.portrait {
  height: 200px;
  border-radius: 50%;
}

.box {
  color: white;
  margin-top: -100px;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
  background-color: #0275d8;
  border-radius: 10px;
}

.leader {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .box {
    height: 450px;
  }
}

