.mission {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
  border-bottom: 1px dashed black;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}

.text-box {
  h2 {
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  margin-bottom: 20px;
  border-bottom: solid black 1px;
}
