@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar {
  font-family: 'Poppins', sans-serif;
  min-height: 80px;
  padding-top: 20px;
  background-color: white;
  opacity:0.95;
}

.navbar-menu {
  margin-top: 20px;
  background-color: white;
}

.navbar-button-solid {
  background-color: black;
  color: white;
}

.navbar-button-solid:hover {
  border-color: black;
  color: black;
}

.sign-out-button {
  border-color: black;
}

.sign-out-button:hover {
  border-color: black;
}

.nav-link-margin {
  margin-top: 7px;
}

@media (min-width: 992px) {
  .navbar {
    padding-top: 0px;
  }

  .navbar-menu {
    margin-top: 0px;
  }
}
