@import url('https://fonts.googleapis.com/css?family=Abel');


.navbar {
  font-family: 'Abel', cursive;
  font-size: 18px;
  background-color: white;
}

.navbarText {
  font-family: 'Abel', cursive;
  font-family: 20px;
}
