@import url('https://fonts.googleapis.com/css?family=Abel');


.navbar {
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  background-color: white;
  height:85px;
}

.navbarText {
  font-size: 24px;
}

.buttonDonate {
  font-size: 20px;
  margin-left: 10px;
  color: #0275d8 !important;
}

.buttonDonate:hover {
  color: white !important;
}

.buttonVolunteer {
  font-size: 20px;
  color: white !important;
  margin-left: 15px;
}

.navbarText {
  font-family: 'Abel', sans-serif;
}
