.inputWidth {
  width: 400px;
  margin: 0 auto;
  float: none;
}

.image {
  background: url('6.jpg');
  background-size: cover;
  height: 600px;
}

.container {
  padding-top: 20px;
}

.backgroundColor {
  min-height: 100%;
  background-color: #e6e6e6;
}
.textShadow {
  text-shadow: 0 0 1px white;
}
