.inputWidth {
  width: 400px;
  margin: 0 auto;
  float: none;
}

.image {
  background: url('../../assets/images/6.jpg');
  background-size: cover;
  height: 600px;
}

.container {
  padding-top: 20px;
}

.textShadow {
  text-shadow: 0 0 1px white;
}
