@import url('https://fonts.googleapis.com/css?family=Poppins');

.information-row {
  font-family: 'Poppins', sans-serif;
  padding-top: 50px;
  padding-bottom: 50px;
}

.icon {
  margin-bottom: 20px;
  height: 150px;
}

.icon-activities {
  margin-top: 25px;
  margin-bottom: 26px;
  height: 120px;
}

.icon-get-involved {
  margin-top: 25px;
  margin-bottom: 26px;
  height: 120px;
}

.info-button {
  margin-top: 25px;
  color: black;
  border-color: black;
}

.info-button:hover {
  border-color: black;
}
