.FAQ {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e5e5e5;
}

.FAQ-container {
  padding-left: 100px;
  padding-right: 100px;
}

.question {
  h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  margin-top: 50px;
}

.text-box {
  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  margin-bottom: 20px;
  border-bottom: solid black 1px;
}
