@import url('https://fonts.googleapis.com/css?family=Poppins');

.footer {
  h4 {
    margin-bottom: 0;
  }
  ul {
    padding: 0;
    text-align: center;
    list-style: none;
    li {
      font-family: 'Poppins', sans-serif;
    }
  }

  padding: 30px;
  height: 160px;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: black solid 1px;
}

.brand {
  border-right: 1px solid black;
}
