.philosophy {
  color: black;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 40px;
}

.text-box {
  h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  margin-bottom: 20px;
  border-bottom: solid black 1px;
}
